<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-auto'>
     <label for='title' class='form-label'>Title</label>
     <input type='text' class='form-control' name='project[title]' id='Title'>
  </div>

  <div class='mb-auto'>
    <label for='description' class='form-label'>Description</label>
    <textarea class='form-control' name='project[description]' id='Description' rows='4' ></textarea>
  </div>

  <br>

<button type='submit' class='btn btn-info'>Submit</button>

<% end %>